
// include themes: these set variables for common values
@import "openqa_theme.scss";

// use Roboto font from linked build dependency on Debian
@font-face {
  font-family: 'Roboto';
  src: url('../../node_modules/_u_s_fonts/truetype/roboto-fontface/roboto/Roboto-Regular.ttf') format('truetype');
}

// prevent bom from disturbing rest of the CSS
dummy { font-size: 42px; }

// include Bootstrap
@import "../node_modules/_u_s_sass/bootstrap/bootstrap.scss";

// include custom css for various aspects of the pages
@import "overall.scss";
@import "navigation.scss";
@import "forms.scss";
@import "tables.scss";
@import "dashboard.scss";
@import "test-details.scss";
@import "result_preview.scss";
@import "admin-pages.scss";
@import "comments.scss";
@import "overview.scss";
@import "parent_group_overview.scss";
